.bk-main{
    background: #1D4350;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    width: 100%;
    height: 100%;

    .content{
        width: calc(100% - 10%);
        height: calc(100% - 10%);
        
    padding:5%;
    }
}