<div class="bk-main">
  <div class="content">
    <h1>Angular SSR (Server Side Rendering) or Angular Universal</h1>
    <p>As the name suggest we are going to render angular application on server side, as primarly angular is meant
      for client-side rendering.In normal single page application (SPA), we usually bring the data to the client and
      then
      build the HTML that represents that data last second on the client side.But in certain situations and by good
      reasons, we might want to instead do that rendering ahead of time, for example on the server or at application
      build
      time: and that is exactly what Angular Universal allows us to do.</p>
    <h2>Why do we need Angular SSR ? </h2>
    <p> For 3 main reasons :- </p>
    <ul>
      <li><b>Performance</b></li>
      <p>The most common reason to use Angular Universal is to improve the startup performance of our application.A
        single
        page when initially loaded is essentially an empty index.html file with almost no HTML. This means that
        when this HTML file gets initially rendered by the browser, all that the user will see is a completely blank
        screen!</p>
      <li><b>SEO (Search Engine Optimization) Friendly</b></li>
      <p>SSR is needed when we want to rank our page on browser search based on some metadata or content in our
        application.
        Most search engine crawlers expect these important SEO meta tags to be present on the HTML returned by the
        server,
        and not to modified at runtime by Javascript.So having our page server-side render those metadata tags is
        essential
        for ranking correctly in a lot of search engines.Google search engine indexes correctly most Javascript pages
        but
        not all the other browsers like bing,DuckDuckGo and others.</p>
      <li><b>Social Media Crawlers</b></li>
      <p>The same way that search engines will crawl our pages looking for titles and descriptions, social media
        crawlers
        from platforms like Twitter will also do something very similar.Whenever we post a link to social media, the
        social media platform will crawl the content of the page, and it might try to extract some information like
        picture, a title, some text about the page to make the post look better.</p>
    </ul>
  </div>
</div>